body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

img {
  max-width: 100%;
}

.dog-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  
}

.dog-container h1 { 
  text-align: center;
  margin-bottom: 20px;
}

.dog-container button {
  margin-top: 20px;
  padding: 5px;
  background-color: white;
}